{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competitions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Competitiondate</th>
                <th>Competitionenddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td><a href="{{ path('competition_show', { 'id': competition.id }) }}">{{ competition.id }}</a></td>
                <td>{{ competition.subject }}</td>
                <td>{% if competition.competitionDate %}{{ competition.competitionDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if competition.competitionEndDate %}{{ competition.competitionEndDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('competition_show', { 'id': competition.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
