{% extends 'base.html.twig' %}
{% block content %}

    <div class="content">
        <div class="breadcumb-area bg-img bg-overlay2"
             style="background-image: url({{ asset('assets/img/bg-img/breadcumb3.jpg') }}">
            <div class="bradcumbContent">
                <h2>Events</h2>
            </div>
        </div>
        <div class="bg-gradients "></div>
        <div class="container-fluid upcoming-shows-area section-padding-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="container ">


                            <!-- ##### Featured Shows Area Start ##### -->
                            <div class="featured-shows-area section-padding-100">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="section-heading dark">
                                                <h2 class="text-white">Upcoming Events</h2>
                                                <h6>Get your ticket Now!</h6>
                                                <form action="{{ path('filter_category') }}" id="carform">
                                                <label for="categorie" class="text-white mt-4">Filter By:</label>
                                                <select id="cars" name="Type"  class="form-control" onchange="this.form.submit()" >
                                                    <option value="" class=" disabled">-----Filter By Category--------</option>
                                                    <option value="Casting">casting</option>
                                                    <option value="concert">concert</option>
                                                    <option value="offre emploi">offre emploi</option>
                                                    <option value="audition">audition</option>

                                                </select>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="featured-shows-slides owl-carousel">
                                                {% for i in t %}
                                                   {% if not i.ticket.isempty %}
                                                    <!-- Single Featured Shows -->
                                                    <div class="single-featured-shows">
                                                        <img src="{{ asset('assets/img/shop-img/' ~ i.img) }}" style=" height:600px">
                                                        <!-- Content -->
                                                        <div class="featured-shows-content">
                                                            <div class="shows-text">
                                                                <h4>{{ i.title }}</h4>
                                                                <p>{{ i.startDate|date("d/m/Y") }}</p>
                                                                <p>>{{ i.location }}</p>
                                                                <p>{{ i.nbPlaces }}</p>
                                                                <p>{{ i.description }}</p>
                                                                <p>>{{ i.type }}</p>
                                                                <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost.dev%2F2a7_php5%2Fview%2Fafficher_wishlist.php&layout=button_count&size=small&width=83&height=20&appId"
                                                                        width="83" height="20" style="border:none;overflow:hidden"
                                                                        scrolling="no" frameborder="0" allowTransparency="true"
                                                                        allow="encrypted-media"></iframe>
                                                                {% if i.nbPlaces is same as (0) %}
                                                                <h3>Event Full</h3>
                                                                {% else %}
                                                                <a target="_blank" href="{{ path('buy_ticket',{'id':i.id}) }}" class="buy-tickets-btn">Get Ticket</a>
                                                                    {% endif %}
                                                            </div>
                                                            <div class="bg-gradients"></div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ##### Featured Shows Area End ##### -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gradients "></div>
{% endblock %}
