{% extends 'base.html.twig' %}
{% block content %}

    <div class="content">
        <div class="breadcumb-area bg-img bg-overlay2"
             style="background-image: url({{ asset('assets/img/bg-img/breadcumb3.jpg') }}">
            <div class="bradcumbContent">
                <h2>Events</h2>
            </div>
        </div>
        <div class="container-fluid upcoming-shows-area section-padding-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="container ">


                            <!-- ##### Featured Shows Area Start ##### -->
                            <div class="featured-shows-area section-padding-100">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="section-heading dark">
                                                <h2 class="text-white">Upcoming Events</h2>
                                                <h6>Get your ticket Now!</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="featured-shows-slides owl-carousel">
                                                {% for i in t %}
                                                    <!-- Single Featured Shows -->
                                                    <div class="single-featured-shows">
                                                        <img src="/assets/img/bg-img/fs4.jpg" alt="">
                                                        <!-- Content -->
                                                        <div class="featured-shows-content">
                                                            <div class="shows-text">
                                                                <h4>{{ i.title }}</h4>
                                                                <p>{{ i.startDate|date("d/m/Y") }}</p>
                                                                <p>>{{ i.location }}</p>
                                                                <p>{{ i.nbPlaces }}</p>
                                                                <p>{{ i.description }}</p>
                                                                <p>>{{ i.type }}</p>
                                                                <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost.dev%2F2a7_php5%2Fview%2Fafficher_wishlist.php&layout=button_count&size=small&width=83&height=20&appId"
                                                                        width="83" height="20" style="border:none;overflow:hidden"
                                                                        scrolling="no" frameborder="0" allowTransparency="true"
                                                                        allow="encrypted-media"></iframe>
                                                                <a href="#" class="buy-tickets-btn">Buy Tickets</a>
                                                            </div>
                                                            <div class="bg-gradients"></div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ##### Featured Shows Area End ##### -->

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}