{% extends 'base.html.twig' %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title> Events list </title>
    </head>
    <body>
{#    <div class="content">#}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Events list</h4>
                <p class="card-category"> </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>ID</th>
                        <th>title</th>
                        <th>start_date</th>
                        <th>end_date</th>
                        <th>location</th>
                        <th>nbr_places</th>
                        <th>description</th>
                        <th>type</th>
                        </thead>
                        <tbody>
                        {% for i in t %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.title }}</td>
                                <td>{{ i.startDate|date("d/m/Y")}}</td>
                                <td>{{ i.endDate|date("d/m/Y") }}</td>
                                <td>{{ i.location}}</td>
                                <td>{{ i.nbPlaces }}</td>
                                <td>{{ i.description}}</td>
                                <td>{{ i.type}}</td>
                                <td><a href="{{path('delete',{'id': i.id })}}"> <button class="btn btn-primary btn-block">delete</button></a> <br></td>
                                <td><a href="{{path('modifier',{'id': i.id })}}"> <button class="btn btn-primary btn-block">edit</button></a> <br></td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{#    </div>#}

    </body>
    </html>
{% endblock %}