{% extends "base.html.twig" %}

{% block content %}

    {% for user in users %}

    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({{ asset('assets/img/bg-img/bg-1.jpg') }});">
        <img src="{{ asset('assets/uploads/' ~ user.profilePic) }}"   style="margin-top: 250px;width: 370px; margin-left: 50px;  border: 3px solid #cc1573;border-radius: 50%" >
        <div class="bradcumbContent ">

            <h2 > {{ user.username }}'s Profile</h2>
        </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Elements Area Start ##### -->
    <section class="upcoming-shows-area  section-padding-100-0 " style="padding-top: 200px">
{#        Contenu de la page#}
        <div class="container">
            <div id="search_bar" style="text-align: center">
                <div id="cacher" class="btn musica-btn m-2">Search a User</div>
                {#            Search Bar#}
                <div id="search_input" >
                    <h2 class="text-white">Search a User</h2>

                    <div class="sidebar-search m-auto" style="width: 500px">

                        <div class="input-group custom-search-form " >

                            <input autocomplete="off" type="text" id="search" class="form-control"  placeholder="John Doe">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <ul class="nav" id="side-menu">
                        <li>
                            {#                    <a href="#">Entities<span class="fa arrow"></span></a>#}
                            <ul class="nav nav-second-level" id="entitiesNav">
                            </ul>
                        </li>
                    </ul><br><br><br><br>


                </div>
            </div>
{#            Profile#}
            <div class="row">
{#                Profile picture and basic info#}
                <div class="col-md-4 " style="border-right: 1px solid white">

                    <br>
                    <br>
                    {% if user.username != app.user.username %}
                        {% if subscribtion == true %}
                            <div id="subscribe" style="margin-left: 40px;" class="btn musica-btn m-2"><a href="{{ path('unsubscribe',{id: user.id }) }}"> Désabonner  </a></div>
                        {% else %}
                            <div id="unsubscribe" style="margin-left: 40px;" class="btn musica-btn m-2"><a href="{{ path('subscribe',{id: user.id }) }}"> S'abonner  </a></div>
                        {% endif %}
                    {% endif %}
                    <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Nom:  <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.Name }}</span></div>
                    <div class="text-white" style="margin-left: 40px;font-size: large;font-weight: bold;">Nom:  <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.Name }}</span></div>
                    <br>
                    <div class="text-white" style="margin-left: 40px;font-size: large;font-weight: bold">Prénom:  <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.firstName }}</span></div>
                    <br>
                    <div class="text-white" style="margin-left: 40px;font-size: large;font-weight: bold;">Date de naissance:  <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.birthday|date("d M Y") }}</span></div>
                    <br>
                    <div class="text-white" style="margin-left: 40px;font-size: large;font-weight: bold;">Bio: <br> <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.bio }}</span></div>
                    <br>
                    {% for sub in subcount %}
                        <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Abonnés <br> <span class="text-secondary" style="font-size: medium;font-weight: normal">{{sub|join(', ')}}</span></div>
                    {% endfor %}
                    <br>
                    {% for sub in subbedto %}
                        <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Abonnements <br> <span class="text-secondary" style="font-size: medium;font-weight: normal">{{sub|join(', ')}}</span></div>
                    {% endfor %}
                    {% if app.user.username == user.username%}
                    <br>
                    <div style="margin-left: 30px;"><a class="btn musica-btn m-2" href="{{ path('update_profile') }}">Modifier vos informations</a></div>
                    <br>
                    <div style="margin-left: 30px;"><a class="btn musica-btn m-2" href="{{ path('add_video') }}">Ajouter une video</a></div>
                    {% endif %}

            </div>
{#                Profile feed#}
                <div class="col-md-8">
                    <div>
                        <h1 class="text-white"> {{ user.username }}'s Posts :</h1>
                        <br>
                        <br>
                        {% for video in videos %}
                            <h3 class="text-white">{{ video.title }}</h3>
                            <iframe src="{{ video.url }}" width="854" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                          <h2>  <i
                                    class="fa fa-thumbs-o-up text-white big-text col  "> <span
                                        class="num text-white big-text ">{{ video.votes.count }}</span>
                                Votes</i></h2>
                            <br>
                            <br>
                            <br>
                        {% endfor %}
                    </div>
                </div>
        </div>
        </div>
    </section>

    <script type="text/javascript" src="{{ asset('admin_assets/js/core/jquery.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('user_search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'user') {
                                            if (id !== 'error') {
                                                console.log(value[1]);
                                                // console.log(value);
                                                entitySelector.append('<p class"text-secondary">'+value[1]+'<a href="/profile/'+value[1]+'"><img style="width: 50px; height: 50px" src="/assets/uploads/'+value[0]+'"></a></p>');
                                            } else {
                                                entitySelector.append('<li class="text-secondary">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
            $("#search_input").hide();
            $("#cacher").click(function () {
                {
                    $("#search_input").slideToggle(500);
                }
            })

        });
    </script>
    {% endfor %}
{% endblock %}