{% extends "base.html.twig" %}

{% block content %}

    {% for user in users %}

    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({{ asset('assets/img/bg-img/bg-1.jpg') }});">
        <div class="bradcumbContent">
            <h2> Profil de {{ user.username }}</h2>
        </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Elements Area Start ##### -->
    <section class="elements-area mt-30 section-padding-100-0 ">
{#        Contenu de la page#}
        <div class="container">
            <div id="search_bar" style="text-align: center">
                <div id="cacher" class="btn musica-btn m-2">Chercher un utilisateur</div>
                {#            Search Bar#}
                <div id="search_input">
                    <h2 class="text-primary">Chercher un utilisateur</h2>

                    <div class="sidebar-search">

                        <div class="input-group custom-search-form">

                            <input autocomplete="off" type="text" id="search" class="form-control" placeholder="John Doe">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <ul class="nav" id="side-menu">
                        <li>
                            {#                    <a href="#">Entities<span class="fa arrow"></span></a>#}
                            <ul class="nav nav-second-level" id="entitiesNav">
                            </ul>
                        </li>
                    </ul><br><br><br><br>

                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            var searchRequest = null;
                            $("#search").keyup(function() {
                                var minlength = 1;
                                var that = this;
                                var value = $(this).val();
                                var entitySelector = $("#entitiesNav").html('');
                                if (value.length >= minlength ) {
                                    if (searchRequest != null)
                                        searchRequest.abort();
                                    searchRequest = $.ajax({
                                        type: "GET",
                                        url: "{{ path('user_search') }}",
                                        data: {
                                            'q' : value
                                        },
                                        dataType: "text",
                                        success: function(msg){
                                            //we need to check if the value is the same
                                            if (value===$(that).val()) {
                                                var result = JSON.parse(msg);
                                                $.each(result, function(key, arr) {
                                                    $.each(arr, function(id, value) {
                                                        if (key === 'user') {
                                                            if (id !== 'error') {
                                                                console.log(value[1]);
                                                                // console.log(value);
                                                                entitySelector.append('<p class"text-secondary">'+value[1]+'<a href="/profile/'+value[1]+'"><img style="width: 50px; height: 50px" src="/assets/img/pics/'+value[0]+'"></a></p>');
                                                            } else {
                                                                entitySelector.append('<li class="text-secondary">'+value+'</li>');
                                                            }
                                                        }
                                                    });
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        });
                    </script>
                </div>
            </div>
{#            Profile#}
            <div class="row">
{#                Profile picture and basic info#}
                <div class="col-md-4">
                    <img src="{{ asset('assets/img/pics/' ~ user.profilePic) }}" style="width:250px; height: auto;clip-path: circle(120px at center);">
                    <br>
                    <br>
                    <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Nom:  <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.Name }}</span></div>
                    <br>
                    <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold">Prénom:  <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.firstName }}</span></div>
                    <br>
                    <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Date de naissance:  <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.birthday|date("d M Y") }}</span></div>
                    <br>
                    <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Bio: <br> <span class="text-secondary" style="font-size: medium;font-weight: normal">{{ user.bio }}</span></div>
                    <br>
                    <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Abonnés <br> <span class="text-secondary" style="font-size: medium;font-weight: normal">69</span></div>
                    <br>
                    <div class="text-primary" style="margin-left: 40px;font-size: large;font-weight: bold;">Abonnements <br> <span class="text-secondary" style="font-size: medium;font-weight: normal">420</span></div>
                    {% if app.user.username == user.username%}
                    <br>
                    <div style="margin-left: 30px;"><a class="btn musica-btn m-2" href="{{ path('update_profile',{id:app.user.id}) }}">Modifier vos informations</a></div>
                    <br>
                    <div style="margin-left: 30px;"><a class="btn musica-btn m-2" href="{{ path('add_video') }}">Ajouter une video</a></div>
                    {% endif %}

            </div>
{#                Profile feed#}
                <div class="col-md-8">
                    <div>
                        <h1 class="text-primary">Vidéos ajoutés par {{ user.username }}</h1>
                        <br>
                        <br>
                        {% for video in videos %}
                            <h3 class="text-primary">{{ video.title }}</h3>
                            <iframe src="{{ video.url }}" width="854" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            <h2 class="text-secondary" style="margin-left: 600px;">Rating: {{ video.id }} </h2>
                            <br>
                            <br>
                            <br>
                        {% endfor %}
                    </div>
                </div>
        </div>
        </div>
    </section>
    {% endfor %}
    <script type="text/javascript">
        $("document").ready(function(){
            $("#search_input").hide();
            $("#cacher").click(function () {
                {
                    $("#search_input").slideToggle(500);
                }
            })
        })
    </script>
{% endblock %}