{%  extends 'admin_base.html.twig' %}

{% block admin_content %}
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Add product</h4>
            <p class="card-category">Add your product</p>
        </div>
        <div class="card-body">
            <form>

                <div class="row">
{#                    {{ form_start(f) }}#}
                    <div class="col-md-12">
                        <div class="form-group">
{#                            <label class="bmd-label-floating">{{ form_label(f.productName) }}</label>#}
{#                            {{ form_widget(f.productName,{'attr':{'class':'form-control'}}) }}#}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
{#                            <label class="bmd-label-floating">{{ form_label(f.img) }}</label>#}
{#                            {{ form_widget(f.img,{'attr':{'class':'form-control'}}) }}#}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
{#                            <label class="bmd-label-floating">{{ form_label(f.stock) }}</label>#}
{#                            {{ form_widget(f.stock,{'attr':{'class':'form-control'}}) }}#}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
{#                            <label class="bmd-label-floating">{{ form_label(f.price) }}</label>#}
{#                            {{ form_widget(f.price,{'attr':{'class':'form-control'}}) }}#}
                        </div>
                    </div>

                </div>


{#                {{ form_widget(f.ajouter,{'attr':{'class':'btn btn-primary pull right'} }) }}#}
{#                {{ form_end(f) }}#}
                <div class="clearfix"></div>

            </form>
        </div>
    </div>
    {{ form_start(f) }}
    <table>
        <tr>
            <td>{{ form_label(f.img,'Product Image') }}</td>
            <td>{{ form_widget(f.img) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(f.productName,'Product Name') }}</td>
            <td>{{ form_widget(f.productName) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(f.stock,'Product stock') }}</td>
            <td>{{ form_widget(f.stock) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(f.price,'Product price') }}</td>
            <td>{{ form_widget(f.price) }}</td>
        </tr>


    </table>

    {{ form_end(f) }}

{% endblock %}