{% extends 'base.html.twig' %}

{% block content %}


    <div class="breadcumb-area bg-img bg-overlay2 "
         style="background-image: url({{ asset('assets/img/bg-img/breadcumb.jpg') }});">

        <div class="bradcumbContent">
            <h2>Our Shop</h2>
        </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>
    <!-- ##### Breadcumb Area End ##### -->


    <!-- ##### Shop Area Start ##### -->


    <div class="upcoming-shows-area   ">
        <div id="search_input"></div>
        <div class="container">
            <div id="search_bar" style="text-align: center">

                {#            Search Bar#}

                <h2 class="text-primary">Chercher un utilisateur</h2>

                <div class="sidebar-search">

                    <div class="input-group custom-search-form">

                        <input autocomplete="off" type="text" id="search" class="form-control"
                               placeholder="Find Product ...">
                    </div>
                    <!-- /input-group -->
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        {#                    <a href="#">Entities<span class="fa arrow"></span></a>#}
                        <ul class="nav nav-second-level" id="entitiesNav">
                        </ul>
                    </li>
                </ul>


                <script type="text/javascript"
                        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        var searchRequest = null;
                        $("#search").keyup(function () {
                            var minlength = 1;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#entitiesNav").html('');
                            if (value.length >= minlength) {
                                if (searchRequest != null)
                                    searchRequest.abort();
                                searchRequest = $.ajax({
                                    type: "GET",
                                    url: "{{ path('ajax_search') }}",
                                    data: {
                                        'q': value
                                    },
                                    dataType: "text",
                                    success: function (msg) {
                                        //we need to check if the value is the same
                                        if (value === $(that).val()) {
                                            var result = JSON.parse(msg);
                                            $.each(result, function (key, arr) {
                                                $.each(arr, function (id, value) {
                                                    if (key === 'product') {
                                                        if (id !== 'error') {
                                                            console.log(value[1]);
                                                            // console.log(value);
                                                            entitySelector.append('<a class="text-black bg-white " style="width: 1110px; border: 1px solid #cc1573;border-radius: 5%" href="/shop-details/' + id + '"><span class="ml-5" style="font-family: Arial, Helvetica, sans-serif">' +
                                                                '' + value[1] + '' +
                                                                '</span>' +
                                                                '<img style="width: 50px; height: 50px" src="/assets/img/shop-img/' + value[0] + '">' +
                                                                '</a>');
                                                        } else {
                                                            entitySelector.append('<li class="text-secondary">' + value + '</li>');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                </script>
            </div>


            <div class="add-buttons text-center">

                <a href="{{ path('panier_afficher') }}" class="cart-button button"> <i class="fa fa-shopping-bag"
                                                                                       aria-hidden="true"></i>
                    Show Cart</a>
            </div>

            <div class="row text-center  justify-content-center " style="border-radius:7%;border: 3px solid #cc1573;">
                {% for p in products %}
                    <div class="col-md-6 col-lg-3 m-5" style="border-radius:7%; border: 3px solid #cc1573; ">
                        <div class="products">
                            <a href="{{ path('shop_details',{'id':p.id}) }}" class="text-white">{{ p.productName }}</a>
                            <h5 class="text-white">${{ p.price }}</h5>
                            <a href="{{ path('panier_ajouter',{'id':p.id}) }}"><i class="fa fa-shopping-cart"> Add to
                                    Cart</i></a>
                            <a href="{{ path('shop_details',{'id':p.id}) }}"><img class="img-fluid mb-3"
                                                                                  style="height: 300px ; border-radius: 10%"
                                                                                  src="{{ asset('assets/img/shop-img/' ~ p.img) }}"
                                                                                  alt=""></a>
                        </div>
                    </div>
                {% endfor %}

            </div>


            <div class="row justify-content-center  ">  {{ knp_pagination_render(products) }}</div>
        </div>
    </div>
    <div class="bg-gradients "></div>
{% endblock %}