{% extends 'base.html.twig' %}

{% block content %}
    <script src="{{asset('assets/js/jquery/jquery-2.2.4.min.js')}}"></script>
    <div class="content">
    <div class="musica-cta-area section-padding-100 bg-img bg-overlay2 "
         style="background-image: url({{ asset('assets/img/bg-img/bg-8.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content breadcumb-area">
                        <div class="cta-text">
                            <span>Share you talent !</span>
                            <h2>Competition</h2>
                            <h4>{{competition.subject}}</h4>
                         <div class="row"> <div class="col"></div> <h2 id="chronotime" class="text-white"></h2>  <div class="col"></div> </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>



        <div class="career-timeline-area section-padding-100">
            <div class="container">
                {% set i = 0 %}
    {% for participation in participations %}

<div class="row mt-3">
    <img src="{{ asset('assets/uploads/'~ participation.user.profilePic) }}" width="80"  class="rounded-circle mb-3 col-1 align-self-center" >
    <div class="col align-self-center" >
        <h4 class="text-white " >{{ participation.user.username }}</h4>
        <h6 class="text-grey"> {{ participation.participationDate | date() }}</h6>
    </div>

</div>

        <div class="featured-album-content d-flex flex-wrap " style="height: 315px">

            <!-- Album Thumbnail -->
            <div class="album-thumbnail  " ><iframe width="540" height="315" id={{ i }} allowfullscreen frameborder="0"
                                                               src="">
                </iframe></div>

            <!-- Album Songs -->
            <div class="album-songs ">

                <!-- Album Info -->
                <div class="album-info mb-50 d-flex flex-wrap align-items-center justify-content-between pl-3">
                    <div class="album-title">
                        <h6>Help {{ participation.user.username }} reach fame !</h6>
                        <h4>{{ participation.video.title }}</h4>
                    </div>
                    <div class="album-buy-now">
                        <a href="#" class="btn musica-btn">Visit Profile</a>
                    </div>
                </div>
                <a class="btn btn-success "><i class="fa fa-thumbs-up"> <span class="text-white">Vote for {{ participation.user.username }}</span></i></a>
                            {% if app.user is same as (participation.user) %}
                                <a class="btn btn-warning mx-3" href="{{ path('participation_edit', {'id': participation.id}) }}"><i class="fa fa-edit"> <span class="text-white">Edit my post</span></i></a>
                                <a class="btn btn-danger" href="{{ path('participation_delete', {'id': participation.id}) }}"><i class="fa fa-remove"> <span class="text-white">Delete my post</span></i></a>

                            {% endif %}

                    <h4 class="row m-4"><i class="fa fa-thumbs-o-up text-white big-text col">  Votes</i>
                        <i class="fa fa-sort-amount-desc text-white">  Rank</i></h4>

        </div>
        </div>




        <script>

            function getId(url) {
                const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
                const match = url.match(regExp);

                return (match && match[2].length === 11)
                    ? match[2]
                    : null;
            }
             $iy = '#' + {{i}};

            (function() {



                let str ='//www.youtube.com/embed/'
                    + getId("{{- participation.video.url -}}");

                let $iframe = $($iy);
                if ( $iframe.length ) {
                    $iframe.attr('src',str);
                    return false;
                }
                return true;

            })();


        </script>
        {% set i =i+1 %}
    {% endfor %}
            </div>
        </div>
    </div>

    <div> </div>


    <script>
        <!--
        var startTime = 0
        var start = 0
        var end = 0
        var diff = 0
        var timerID = 0
        function chrono(){
            end = new Date('{{ competition.competitionEndDate |date }}')
            start= new Date()
            console.log(start)
            console.log(end)
            diff = end - start
if (diff<0) diff=0;
            console.log(diff)

            var msec = diff % 1000;
            var sec =   Math.floor((diff / 1000) % 60);
            var min =  Math.floor((diff / (60 * 1000)) % 60);
            var hr =  Math.floor(diff / (60*60 * 1000));
            if (min < 10){
                min = "0" + min
            }
            if (sec < 10){
                sec = "0" + sec
            }
            if(msec < 10){
                msec = "00" +msec
            }
            else if(msec < 100){
                msec = "0" +msec
            }
            document.getElementById("chronotime").innerHTML = hr + ":" + min + ":" + sec
            timerID = setTimeout("chrono()", 10)
        }
        chrono();


        //-->
    </script>


{% endblock %}



