{% extends 'base.html.twig' %}

{% block content %}
    <script src="{{asset('assets/js/jquery/jquery-2.2.4.min.js')}}"></script>
    <div class="content">
    <div class="musica-cta-area section-padding-100 bg-img bg-overlay2 " style="background-image: url({{asset('assets/img/bg-img/bg-8.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content breadcumb-area">
                        <div class="cta-text">
                            <span>Share you talent !</span>
                            <h2>Competition</h2>
                            <h4>{{competition.subject}}</h4>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>



        <div class="career-timeline-area section-padding-100">
            <div class="container">
                {% set i = 0 %}
    {% for participation in participations %}

                <div class="row">
                    <!-- About Thumbnail -->
                    <div class="col-12 col-lg-6">
                        <div class="about-thumbnail mb-100">
                            <iframe width="540" height="315" id={{ i }} allowfullscreen frameborder="0"
                                    src="">
                            </iframe>
                        </div>
                    </div>
                    <!-- About Content -->
                    <div class="col-12 col-lg-6">
                        <div class="about--content mb-100">
                            <h4 class="text-white">Vote for {{ participation.user.username }} if you want to see more of his videos</h4>
                            <!-- Key Notes -->
                            <div>
                                <div class="text-white">{{ participation.video.title }}</div>


                                <a class="btn btn-success "><i class="fa fa-thumbs-up"> <span class="text-white">Vote for {{ participation.user.username }}</span></i></a>
                                {% if app.user is same as (participation.user) %}
                                    <a class="btn btn-warning mx-3" href="{{ path('participation_edit', {'id': participation.id}) }}"><i class="fa fa-edit"> <span class="text-white">Edit my post</span></i></a>
                                    <a class="btn btn-danger" href="{{ path('participation_delete', {'id': participation.id}) }}"><i class="fa fa-remove"> <span class="text-white">Delete my post</span></i></a>

                                {% endif %}
                            </div>
                        </div>
                        <h4><i class="fa fa-thumbs-o-up text-white big-text">  Votes</i></h4>
                        <h4><i class="fa fa-sort-amount-desc text-white">  Rank</i></h4>
                    </div>
                </div>

        <script>

            function getId(url) {
                const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
                const match = url.match(regExp);

                return (match && match[2].length === 11)
                    ? match[2]
                    : null;
            }
             $iy = '#' + {{i}};

            (function() {



                let str ='//www.youtube.com/embed/'
                    + getId("{{- participation.video.url -}}");

                let $iframe = $($iy);
                if ( $iframe.length ) {
                    $iframe.attr('src',str);
                    return false;
                }
                return true;

            })();


        </script>
        {% set i =i+1 %}
    {% endfor %}
            </div>
        </div>
    </div>

    <div> </div>

{% endblock %}



