{%  extends 'admin_base.html.twig' %}
{% block admin_content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Articles table</h4>
                <a href="{{ path('blog_homepage') }}">Add Article</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            ID
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Content
                        </th>
                        <th>
                            Action
                        </th>

                        </thead>
                        <tbody>
                        {% for a in articles %}
                        <tr>
                            <td>
                                {{ a.id }}
                            </td>
                            <td>
                                {{a.title}}
                            </td>
                            <td>
                                {{a.img}}
                            </td>
                            <td>
                                {{a.content}}
                            </td>
                            <td>
                                <a href="{{ path('delete',{'id':a.id}) }}">Delete</a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}