{%  extends 'base.html.twig' %}
{% block content %}
    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({{ asset('assets/img/bg-img/breadcumb5.jpg') }})">
        <div class="bradcumbContent">
            <h2>News</h2>
        </div>
    </div>

    <div class="blog-area  section-padding-100 bg-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="fitness-blog-posts">
{% for update in updatess %}
                        <!-- Single Post Start -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb mb-30">
                                <img src="{{ asset('assets/img/shop-img/' ~ update.img) }}" alt="">
                            </div>
                            <!-- Post Title -->
                            <a href="#" class="post-title">{{update.title}}</a>
                            <!-- Post Meta -->
                            <div class="post-meta d-flex justify-content-between">
                                <div class="post-date">
                                    <p>{{update.publishDate |date}}</p>
                                </div>
                                <!-- Comments -->

                            </div>
                            <!-- bg gradients -->
                            <div class="bg-gradients mb-30 w-25"></div>
                            <!-- Post Excerpt -->
                            <p>{{update.content}}</p>
                            <!-- Read More -->

                        </div>
                        {% endfor %}
                        <!-- Pagination -->
                        <div class="musica-pagination-area wow fadeInUp" data-wow-delay="700ms" style="visibility: hidden; animation-delay: 700ms; animation-name: none;">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02.</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03.</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}