{%  extends 'admin_base.html.twig' %}
{% block admin_content %}
    <div class="content">
    <div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <br>
                <br>
                <h4 class="card-title ">Updates</h4>
                <a href="{{ path('blog_homepage') }}"></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">

                        <th>
                            Title
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Content
                        </th>
                        <th>
                            categorie
                        </th>
                        <th>
                            Publish_date
                        </th>
                        <th>
                            Action
                        </th>

                        </thead>
                        <tbody>
                        {% for a in updatess %}
                            <tr>

                                <td>
                                    {{a.title}}
                                </td>
                                <td>
                                    <img src="{{ asset('/fack.png') }}" width="200px" height="300px"/>
                                </td>
                                <td>
                                    {{a.content}}
                                </td>
                                <td>
                                    {{a.category}}
                                </td>
                                <td>
                                    {{a.publishDate|date("Y/m/d")}}
                                </td>


                                <td>
                                    <a href="{{ path('supprimer',{'id':a.id}) }}">Supprimer</a>
                                    <a href="{{ path('modifier',{'id':a.id}) }}">Modifier</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div></div>
{% endblock %}