{%  extends 'base.html.twig' %}
{% block content %}
    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({{ asset('assets/img/bg-img/breadcumb5.jpg') }})">
        <div class="bradcumbContent">
            <h2>News</h2>
        </div>
    </div>
    <div class="bg-gradients "></div>
    <div class="upcoming-shows-area section-padding-100 ">
    <div class="row justify-content-center mb-5">
        <form action="{{ path('filter_news_category') }}" id="carform">
            <label for="categorie" class="text-white mt-4">Filter By:</label>
            <select id="cars" name="Type"  class="form-control" onchange="this.form.submit()" >
                <option value="" class=" disabled">-----Filter By Category--------</option>
                <option value="sport">sport</option>
                <option value="entertainment">entertainment</option>


            </select>
        </form>
    </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="fitness-blog-posts">
{% for update in updatess %}
                        <!-- Single Post Start -->
                        <div class="single-blog-post mb-100 wow fadeInUp"  data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;border-bottom: 3px solid #cc1573;">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb mb-30" style="border-radius:7%; border-top: 3px solid #cc1573;">
                                <img src="{{ asset('assets/img/shop-img/' ~ update.img) }}" alt="">
                            </div>
                            <!-- Post Title -->
                            <a href="#" class="post-title" > {{update.title}}</a>
                            <!-- Post Meta -->
                            <div class="post-meta d-flex justify-content-between">
                                <div class="post-date">
                                    <p class="text-white">{{update.category}}</p>
                                    <div class="bg-gradients mb-30 w-30"></div>
                                    <p class="text-white">{{update.publishDate |date}}</p>

                                </div>
                                <!-- Comments -->




                            </div>
                            <!-- bg gradients -->
                            <div class="bg-gradients mb-30 w-25"></div>
                            <!-- Post Excerpt -->
                            <p class="text-white">{{update.content}}</p>
                            <!-- Read More -->

                        </div>
                        {% endfor %}
                        <!-- Pagination -->
                        <div class="row justify-content-center mt-5">  {{ knp_pagination_render(updatess) }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gradients "></div>
{% endblock %}