{%  extends 'base.html.twig' %}

{% block content %}


    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({{ asset('assets/img/bg-img/breadcumb2.jpg') }})">
        <div class="bradcumbContent">
            <h2>Blog</h2>
            <div>  <a href="{{path('tri')}}" class="text-white">Sort</a></div>
        </div>
    </div>

    <div class="blog-area  section-padding-100 " style="background-color: #0c0527">
        <div class="container">
            <div class="row justify-content-center">
                <input  class="my-3" type="text" value=""     id="myInput" onkeyup="myFunction()"  placeholder="Search...">

                <div class="col-12">

                    <div class="fitness-blog-posts">
                        {% for article in articles %}
                            <!-- Single Post Start -->
                            <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                                <!-- Post Thumb -->
                                <div class="blog-post-thumb mb-30">
                                    <img src="{{ asset('assets/img/shop-img/' ~ article.img) }}" alt="">
                                </div>
                                <!-- Post Title -->
                                <a href="#" class="post-title">{{article.title}} {{ article.id }}</a>
                                <!-- Post Meta -->
                                <div class="post-meta d-flex justify-content-between">
                                    <div class="post-date">
                                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost.dev%2F2a7_php5%2Fview%2Fafficher_wishlist.php&layout=button_count&size=small&width=83&height=20&appId" width="83" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                        <a href="https://twitter.com/share?ref_src=https://www.your-domain.com/your-page.html" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                                    </div>
                                    <!-- Comments -->

                                </div>
                                <!-- bg gradients -->
                                <div class="bg-gradients mb-30 w-25"></div>
                                <!-- Post Excerpt -->
                                <p>{{article.content}}</p>
                                <!-- Read More -->

                            </div>
                            {% include '@FOSComment/Thread/async.html.twig' with {'id': '54'} %}
                        {% endfor %}
                        <!-- Pagination -->
                        <div class="musica-pagination-area wow fadeInUp" data-wow-delay="700ms" style="visibility: hidden; animation-delay: 700ms; animation-name: none;">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02.</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03.</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}