{% extends 'admin_base.html.twig' %}
{% block admin_content %}
    <div class="content">    {{ form_start(f) }}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Simple Table</h4>
                <p class="card-category"> Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>Title: </td>
                            <td>{{ form_widget(f.title,{attr: {'class':'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>Link: </td>
                            <td>{{ form_widget(f.url,{attr: {'class':'form-control'}}) }}</td>
                        </tr>
                        <tr>
                            <td>Publish Date: </td>
                            <td>{{ form_widget(f.publishDate) }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{ form_widget(f.submit,{attr: {'class':'btn btn-primary btn-block'}}) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{ form_end(f) }}
{% endblock %}